@using SPS_Code.Controllers.RequestModels
@{

}
@section Style {
    <link rel="stylesheet" href="~/css//UserSignInUp.css" asp-append-version="true" />
}

@model RegisterRequest?

@*<form method="post" action="/user/register">
    <div class="form-group">
        <label>Jméno</label>
        <input value="@Model?.FirstName" name="FirstName" type="text" class="form-control" placeholder="Zadej jméno...">
    </div>
    <div class="form-group">
        <label>Příjmení</label>
        <input value="@Model?.LastName" name="LastName" type="text" class="form-control" placeholder="Zadej příjmení...">
    </div>
    <div class="form-group">
        <label>Email</label>
        <input value="@Model?.Email" name="Email" type="email" class="form-control" placeholder="Zadej email...">
    </div>
    <div class="form-group">
        <label>Heslo</label>
        <input name="Password" type="password" class="form-control" placeholder="Zadej heslo...">
    </div>
    <div class="form-group">
        <label>Heslo znovu</label>
        <input name="PasswordCheck" type="password" class="form-control" placeholder="Zadej heslo ještě jednou...">
    </div>
    <button type="submit" class="btn btn-primary">Zaregistrovat se</button>

    <p style="color: red;" >@Model?.Message</p>
</form>*@

<div id="secure-panel">
    <h2>SPŠ-Code</h2>
    <form action="/user/register" method="post" class="secure-form">
        <h3>Zaregistrovat se</h3>
        <input value="@Model?.FirstName" name="FirstName" type="text" placeholder="Jméno...">
        <input value="@Model?.LastName" name="LastName" type="text" placeholder="Příjmení...">
        <input value="@Model?.Email" type="text" name="Email" placeholder="Email..." />
        <input type="password" name="Password" placeholder="Heslo..." />
        <input type="password" name="PasswordCheck" placeholder="Heslo pro kontrolu..." />
        <input type="submit" value="Zaregistrovat se" />
    </form>
    <p id="chybova-hlaska">@Model?.Message</p>

    <a href="/user/login">Přihlásit se</a>
</div>