@using SPS_Code.Helpers;
@{
    ViewData["Title"] = "Domů";

    bool userLogged = Helper.GetLoggedUser(ViewContext.HttpContext, out _);
}

@section Style {
    <link rel="stylesheet" href="~/css/Index.css">
}

<h1>Vítej na <span>SPŠ-Code</span></h1>
<p>Školním portálu plném zajímavých algoritmizačním úloh.</p>
<a href="@(userLogged ? "/task/show" : "/user/login")">Začni Řešit <img src="~/img/click.png" /></a>

