@{
    ViewData["Title"] = "Domů";
}

@section Style {
    <link rel="stylesheet" href="~/css/Index.css">
}

<h1>Vítej na <span>SPŠ-Code</span></h1>
<p>Školním portálu plném zajímavých algoritmizačním úloh.</p>
<a href="/task/show">Začni Zde <img src="~/img/click.png" /></a>

