@using SPS_Code.Controllers.RequestModels
@model TaskCreateRequest
@{
    ViewData["Title"] = "Vytvoření úlohy";
}

@section Style {
    <link rel="stylesheet" href="~/css/TaskEdit.css">
}

<link rel="stylesheet" href="~/css/simplemde.min.css">
<script src="~/js/simplemde.min.js"></script>


<form action="/task/create" method="post" enctype="multipart/form-data">
    <div>
        <div>
            <label for="Name">Název úlohy</label>
            <input type="text" name="Name" placeholder="Název..." /> 
        </div>
        <div>
            <label for="MaxPoints">Maximální počet bodů</label>
            <input type="number" name="MaxPoints" placeholder="Max. počet bodů..." />
        </div>
        <div>
            <label for="TestCount">Počet testů, který vygeneruje generátor (určeno pro hodnocení)</label>
            <input type="number" name="TestCount" placeholder="Test Count..." />
        </div>
        <div>
            <label for="MaxSubmitTimeMinutes">Počet minut na odevzdání vygenerovaného vstupu</label>
            <input type="number" name="MaxSubmitTimeMinutes" placeholder="Max. počet minut..." />
        </div>
        <div>
            <label for="Generator">Generátor vstupu</label>
            <input type="file" name="Generator"/>
        </div>
        <div>
            <label for="Validator">Validátor uživatelského výstupu</label>
            <input type="file" name="Validator" />
        </div>
    </div>

    <label for="Description">Popis zadání</label>
    <textarea id="Description" name="Description"></textarea>

    <label for="Inputs">Přiklady vstupů</label><br />
    <textarea id="Inputs" name="Inputs"></textarea>

    <label for="Outputs">Příklady výstupů</label><br />
    <i>Očekává se, že budou souviset se vstupy</i>
    <textarea id="Outputs" name="Outputs"></textarea>

    <input type="submit"/>
    <p style="color: red;">@Model?.Message</p>
</form>


<script>
    var simplemde = new SimpleMDE({ element: document.getElementById("Description") });
    new SimpleMDE({ element: document.getElementById("Outputs") });
    new SimpleMDE({ element: document.getElementById("Inputs") });
</script>