@using SPS_Code.Data.Models;
@model List<UserModel>

@section Style {
    <link rel="stylesheet" href="~/css/Results.css">
}

<div id="res">
    <div>
        <div>Jméno a Příjmení</div>
        <div>Získané body / Max</div>
    </div>
@foreach(var um in Model){    
    <div>
        <div>@um.FirstName @um.LastName</div>
        <div>@um.Tasks[0].MaxPointsObtained/@um.Tasks[0].Task.MaxPoints b.</div>
    </div>
}
</div>