@using SPS_Code.Data.Models;
@model List<UserModel>

<table>
    <tr>
        <td>Jméno a Příjmení</td>
        <td>Získané body / Max</td>
    </tr>
@foreach(var um in Model){    
    <tr>
        <td>@um.FirstName @um.LastName</td>
        <td>@um.Tasks[0].MaxPointsObtained/@um.Tasks[0].Task.MaxPoints</td>
    </tr>
}
</table>