@using SPS_Code.Data.Models;
@model List<UserModel>

@{
    int id = (int)ViewData["ID"];
}

@section Style {
    <link rel="stylesheet" href="~/css/Results.css">
}

<div id="res">
    <div>
        <div>Jméno a Příjmení</div>
        <div>Třída</div>
        <div>Získané body / Max</div>
    </div>
@foreach(var um in Model){    
    <div>
        <div>@um.FirstName @um.LastName</div>
        <div>@um.UserCategory.Name</div>
        <div>@um.Tasks?.First(t => t.Task.Id == id).MaxPointsObtained/@um.Tasks?.First(t => t.Task.Id == id).Task.MaxPoints b.</div>
    </div>
}
</div>