@model List<SPS_Code.Data.Models.TaskModel>

@section Style {
    <link rel="stylesheet" href="~/css/Task.css" asp-append-version="true" />
}

@if(Model?.Count == 0){
    <p>Zatím zde žádná úloha není</p>
    return;
}

<div class="task-overview">
  @if (Model.Count() > 0) {
      <div>
          <p>Název</p>
          <p>Max. bodů</p>
          <p>Počet Min.</p>
          <p>Vytvořeno</p>
          <p>Zadání</p>
      </div>

      @foreach (var task in Model)
      {
          if (!task.Visible && (ViewData["admin"] == null || !(bool)ViewData["admin"])) continue;
          <div>
              <p>@task.Name</p>
              <p>@task.MaxPoints bodů</p>
              <p>@task.MaxSubmitTimeMinutes min.</p>
              <p>@task.Created.ToShortDateString()</p>
              <a href="/task/@task.Id"><img src="~/img/info.png"></a>
                @if (ViewData["admin"] != null && (bool)ViewData["admin"]){
                    <a href="/task/hide/@task.Id">Skrýt úlohu</a>
                    <a href="/task/unhide/@task.Id">Odkrýt úlohu</a>
              }
          </div>
      }
  }
</div>