@model List<SPS_Code.Data.Models.TaskModel>

@if(Model?.Count == 0){
    <p>Zatím zde žádná úloha není</p>
    return;
}

<div>
@foreach (var task in Model)
{
        if (!task.Visible) continue;
        <div>
        <p>@task.Name</p>
        <p>@task.MaxPoints</p>
        <p>@task.Created</p>
        <a href="/task/@task.Id">Podívat se na zadání</a>
        </div>
}
</div>