@model SPS_Code.Controllers.ResponseTask

@if(Model.ActiveTask != null){

    <a href="/task/download/@Model.ActiveTask.TaskId">Stáhnout vstup</a>
    <p>Odevzdat do: @Model.ActiveTask.GeneratedTime</p>
    @*
    <form action="/task/download/@Model.ActiveTask.TaskId" method="post">
        <input type="file" name="UserFile" >
        <input type="submit"/>
    </form>
    *@
    return;
}

<a href="/task/generate/@Model.Id">Vygenerovat vstup</a>