#edit {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

form {
    display: grid;
    text-align: center;
    box-shadow: 0 0 3px 1px gray;
    width: 340px;
    margin: 20px auto;
    padding: 1em 0.5em;
    border: 1px solid gray;

    border-radius: 10px;
}

form label {
    text-align: left;
    width: 85%;
    margin: 0 auto;
    font-weight: bold;
}

form h3 {
    font-size: 1.5em;
    margin: 15px 0;
}

form input {
    border-radius: 10px;
    width: 90%;
    max-width: 100%;
    border: gray solid 2px;
    padding: 5px;
    font-size: 17px;
    margin: 8px auto;
}

form input:last-child {
    cursor: pointer;
    width: 100%;
    max-width: 90%;
    color: white;
    background: var(--barva);
    transition: .3s;
}

form input:last-child:hover, input:last-child:hover {
    border-radius: 15px;
    transition: 0.15s;
}

@media screen and (max-width: 768px) {
    #edit {
        display: block;
    }
    form {
        max-width: 95%;
    }
}